@charset "utf-8";
/* CSS Document */

/* 
toggable tabs from https://www.w3schools.com/howto/howto_js_tabs.asp 
edited to work as keyboard accessible a links instead of buttons (PD)
*/

html, * {
  box-sizing: border-box;
  font-family: Arial, "sans-serif";
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../img/darkened_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  /* height: 1070px; */
  overflow: hidden;
  margin: 0px;
}

#tabs_container {
  max-width: 1520px;
  height: 930px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  margin-top: 1em;;
}

.img_center {
  display: flex;
  justify-content: center;
}

.tabset {
  display: flex;
  flex-direction: column;
  margin: 2.5em 0;
  overflow: hidden;
  max-width: 700px;
  width: 700px;
}

.tabset_heading+.tabset {
  margin-top: 0;
}

.tabset figure {
  max-width: 100%;
}

.tabset-nav {
  display: flex;
}

.tabset-nav-item {
  flex-grow: 1;
  border: none;
  background-color: #2e977e;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: bold;
  min-width: 150px;
  text-align: left;
  padding-left: 25px;
  width: 33%;
    font-family: FranklinGothicHeavy;

}

@media only screen and (max-width: 540px) {
  .tabset-nav-item {
    min-width: auto;
  }
}

.tabset-nav-item.active {
  background-color: #fff;
  color: #fff;
  background-color: #00594f;
}

.tabset-nav-item:hover,
.tabset-nav-item:focus {
  background-color: #00594f;
  color: #fff;
}

.tabset-panels {
  padding: 10px;
  height: 230px;
  background-color: #00594f;
  color: #fff;
  padding: 1.17em;
  font-size: 1.2em;
  line-height: 1.4;
}

.tabset-panel {
  display: none;
}

.tabset-panel.active {
  display: block;
}

.tabset-panel p {
  margin-top: 0;
}

.tabset-panel p:last-of-type {
  margin-bottom: 1rem;
}

.tabset_heading {
  border-bottom: 4px solid var(--black);
  font-size: 1.9em;
  /* font-weight: bold; */
  margin-bottom: 0.8em;
  max-width: 700px;
  color: #fff;
  background-color: #2e977e;
  padding: 0.7em;
  font-family: FranklinGothicHeavy;
}

.tabset_heading:nth-of-type(-n + 2) {
  margin-top: 0px;
}

.tabcontent {
  animation: fadeEffect 1s;
}

.tabset_pair {
  height: 400px;
}

.tabset-nav .tabset-nav-item:nth-child(2) {
  border-left: 2px solid #00594f;
  border-right: 2px solid #00594f;
}

.nav_btns {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-top:0.5em;
    margin-right: 2em;
}

.nav_btns a {
    padding-top: 5px;
    background-color: transparent;
    color: #444;
    width: 70px;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
    margin-top: 2px;
}

.arrow_path {
    fill: #fff;
}

.cls-1,
.arrow_path {
    stroke-width: 0px;
}

#navigation circle {
    fill: #000;
    opacity: .51;
}



@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}